.menu-container {
    padding: 50px 20px;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: rgb(85, 85, 85);
    width: 80% !important;
}

.menu-item-container {
    margin-top: 1.5rem;
}

.menu-items {
    gap: 2rem;
    justify-content: center;
}

.menu-headline-container {
    text-align: center;
}

.menu-main-headline {
    font-size: 4rem;
    text-decoration: underline;
}

.menu-headline {
    font-size: 3rem;
    text-align: center;
}

.item-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.raw-materials-container {
    width: 80% !important;
}

.item-name {
    font-size: 2.5rem;
    width: 80% !important;
}

.item-price {
    font-size: 2.5rem;
    width: 20% !important;
}

@media only screen and (max-width: 953px) {
    .menu-container {
        width: 100% !important
    }
}

@media only screen and (max-width: 576px) {
    .menu-headline {
        font-size: 2.5rem;
    }
    .item-name, .item-price {
        font-size: 1.5rem;
    }

    .item-name {
        width: 70% !important;
    }
    .item-price {
        width: 30% !important;
    }
}
