
.shop-status-container {
    display: flex;
    flex-direction: column;
    background: #DCF2FF;
    width: 350px !important;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 2rem;
}

.shop-container-headline {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.shop-status-opening, .shop-status-location {
    display: flex;
    justify-content: flex-start;
}

.shop-status-opening span:first-child, .shop-status-location span:first-child {
    width: 20%;
}

.shop-status-opening span, .shop-status-location span {
    margin-left: 20px;
}

.shop-status-icon {
    border-radius: 15px;
    height:fit-content;
    width:fit-content;
    padding: 0px 10px;
}

.shop-status-icon.open {
    background-color: rgb(129, 238, 129);
}
.shop-status-icon.closed {
    background-color: rgb(248, 130, 130);
}


@media only screen and (max-width: 768px) {
    .shop-status-container {
        margin-bottom: 0;
    }

}

@media only screen and (max-width: 576px) {
    .shop-status-container {
        width: 95% !important;
        font-size: 1rem;
        padding: 20px 10px;
    }

    .shop-status-opening span, .shop-status-location span {
        margin-left: 10px;
    }
}